<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECH X | About</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@200;300;500&family=Permanent+Marker&family=Poppins:wght@300;400;600;700;900&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <a href="#" class="logo">Tech X</a>

        <ul class="nav-list">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Service</a></li>
            <li><a href="/pre-projects">Pre-Projects</a></li>
            <li><a href="https://wa.me/9342813051?text:Hi%20Ranjith">Contact</a></li>
        </ul>

        <div class="bx bx-menu"id="menu-icon"></div>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h3>Tech X</h3>
            <h4></h4>
            <h1></h1>
            
        </div>

        <div class="hero-img">
            <img src="./src/bot-4.png"  alt="hero-img">
        </div>

    </section>

    <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="https://wa.me/9342813051?text:Hi%20Ranjith"><i class="ri-whatsapp-line"></i></a>
        <a href="#"><i class="ri-github-fill"></i></a>
    </div>
    <div class="scroll-down">
        <a href="" ><i class="ri-arrow-down-s-fill"></i></a>
   
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./js/index.js"></script>
</body>

</html>